<!-- var blogSchema = new mongoose.Schema({
    title: String,
    image: String,
    body: String,
    created: {type:Date, default:Date.now}
}); -->

<% include ./partials/header.ejs %>

<% blogs.forEach((blog)=>{ %>
    <div>
        <h1><%=blog.title%></h1>
        <img src="<%= blog.image %>" alt="">
        <span><%= blog.created %></span>
        <p><%= blog.body.substring(0,100)  %>...</p>
        <a href="/blogs/<%= blog._id %>">Show More</a>
    </div>
<% }) %>

<% include ./partials/footer.ejs %>

