<% include ../partials/header %>

<div class="container">
    
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-6">
            <h1 class="text-center mb-5">Update <%= campground.name %></h1>
        
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="mb-4">
                <div class="form-group">
                    <label for="campName">Camp Name:</label>
                    <input id="campName" class="form-control" type='text' name="campground[name]" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <label for="campImage">Camp Image:</label>
                    <input id="campImage" class="form-control" type="text" name="campground[image]" value="<%=campground.image%>">
                </div>
                <div class="form-group">
                    <label for="campDescription">Camp Description:</label>
                    <input id="campDescription" class="form-control" type="text" name="campground[description]" value="<%=campground.description%>">
                </div>
                    <button class="btn btn-default btn-block" type="submit" >Submit</button>
                
            </form>
        
            <a href="/campgrounds">Go back</a>    
        </div>
        
    </div>
    

</div>
<% include ../partials/footer %>